body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Open Sans', sans-serif;
  background-image: url("assets/starry.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 700px;
  width: 100%;
}

.page {
  width: 100%;
}

.header {
  font-size: 65px;
  color: white;
  border: 1px solid white;
  height: 80px;
  text-align: center;
  margin-top: 200px;
}

@media screen and (min-width: 500px){
  .header {
    width: 400px;
    margin-left: 36%;
  }
}

@media screen and (max-width: 500px) {
  .header {
    width: 350px;
    display: inline-block;
  }
}



.header p {
  margin-top: -4px;
}

/* * * * * * *
 *           *
 *    NAV    *
 *           *
 * * * * * * */

.nav-container {
  height: 60px;
}

@media screen and (max-width: 500px) {
  .nav-container {
    width: 350px;
  }
}

.media-icons-container {
  list-style: none;
  float: right;
  padding-right: 1%;
}

.media-icons {
  display: inline-block;
  font-size: 25px;
  padding: 5px;
}

i {
  color: white;
}

/* * * * * * *
 *           *
 * PORTFOLIO *
 *           *
 * * * * * * */

.portfolio {
  height: 80px;
  text-align: center;
}

@media screen and (min-width: 500px) {
  .portfolio {
    width: 400px;
    margin-left: 33.5%;
  }
}

@media screen and (max-width: 500px) {
  .portfolio {
    width: 300px;
    display: inline-block;
  }
}

.project-headers {
  list-style: none;
  text-align: center;
}

.project-headers a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

