body {
  font-family: roboto;
}

#page {
  width: 100%;
}

/* * * * * * *
 *           *
 *    Nav    *
 *           *
 * * * * * * */

.nav-container {
  height: 60px;
  display: flex;
  flex: 1;
  flex-direction: row;
}

.title {
  font-size: 35px;
  display: flex;
  flex-direction: row;
  flex: 2.5;
  padding-left: 10%;
}

.description {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  flex: 6;
  font-size: 18px;
}

.media-icons-container {
  display: flex;
  flex: 2;
  flex-direction: row;
  list-style: none;
  padding-right: 10%;
}

.media-icons {
  display: inline-block;
  font-size: 25px;
  padding: 5px;
}