body {
  font-family: roboto;
  background-image: url("assets/forest.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 600px;
}

.page {
  width: 100%;
}

.header {
  font-size: 65px;
  color: white;
  border: 1px solid white;
  height: 80px;
  width: 400px;
  text-align: center;
  margin-top: 200px;
  margin-left: 36%;
}

.header p {
  margin-top: -6px;
}

/* * * * * * *
 *           *
 *    NAV    *
 *           *
 * * * * * * */

.nav-container {
  height: 60px;
}

.media-icons-container {
  list-style: none;
  float: right;
  padding-right: 1%;
}

.media-icons {
  display: inline-block;
  font-size: 25px;
  padding: 5px;
}

i {
  color: white;
}

/* * * * * * *
 *           *
 * PORTFOLIO *
 *           *
 * * * * * * */

.portfolio {
  margin-left: 35%;
}

.project-headers {
  padding-left: 10%;
  width: 30%;
  list-style: none;
  text-align: center;
}

.project-headers a {
  font-size: 20px;
  color: white;
}

